<div class="card mb-4">
  <div class="card-body">
    <div class="row mt-3 mb-3 bot-showcase">
      <div class="col-sm-12 col-md-4">
        {{#if about_url}}
            <a href="{{about_url}}">
          {{else}}
            <a href="https://glitch.com/edit/#!/{{@root.project_name}}?path={{file}}">
          {{/if}}      
        {{#if thumbnail}}
            <img class="img-thumbnail mb-2" src="{{thumbnail}}" class="mr-3" alt="...">
        {{else}}
          <img class="img-thumbnail mb-2" src="https://generative-placeholders.glitch.me/image?width=360&height=200&style=cellular-automata&cells=10&colors={{@root.generative_placeholders_color}}&{{@key}}" class="mr-3" alt="...">
        {{/if}}      
        </a>
      </div>
      <div class="col-sm-12 col-md-8">
        <h2 class="mt-0">{{name}}</h2>
        <p>{{description}}</p>
        <ul class="list-unstyled">
           <li>⌛ {{interval_human}}</li>
           {{#if next_run}}
              <li>📅 {{next_run}}</li>
           {{/if}}      
        </ul>
<!--
      </div>
      <div class="col-sm-12 mt-4">
-->
        <p>
          {{#if about_url}}
            <a href="{{about_url}}" class="btn btn-dark mt-2">Learn more</a>
          {{/if}}      
          {{#if links}}
            {{#each links}}
              <a href="{{this.url}}" class="btn btn-light mt-2">{{this.title}}</a>
            {{/each}}
          {{/if}}      
          <a href="https://glitch.com/edit/#!/{{@root.project_name}}?path=bots/{{file}}" class="btn btn-light mt-2">View source</a>
        </p>
      </div>
    </div>
  </div>
</div>